// Foundation variable settings, copied as of 6.2
@import "settings";
// Core foundation
@import "./foundation-sites/scss/foundation";
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@import "./@waynestate/styleguide/src/scss/_wsuheader";

body {
    background-color: #fef8f1;
}

.wsuheader {
    padding: 28px 0;

    .wsuwordmark {
        margin-top: 0;
    }
}

.center-site {
    // Medium and up
    @media screen and #{breakpoint(large)} {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.content {
    @include breakpoint(medium down) {
        text-align: center;
    }

    &, h1, h2, h3, h4, h5, h6 {
        font-family: 'Noto Sans';
        font-weight: 400;
    }

    a {
        text-decoration: underline;
    }

    h1 {
        color: #99a0a6;
        font-size: 7em;
    }

    h2 {
        font-size: 2em;
    }
}
